header {
  background-color: rgb(58, 174, 241);
  height: 75px;
  padding: 10px 10px;
}

main {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
  align-content: stretch;
  background-color: rgb(46, 45, 45);
}

.Profile-Info, aside {
  background-color: white;
  margin-bottom: 25px;
  margin-top: 25px;
}

.Profile-Info {
  width: 750px;
  padding-left: 20px;
}

aside {
  padding-right: 20px;
  font-size: 30px;
}

span {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
  align-content: stretch;
  background-color: rgb(46, 45, 45);
  padding-bottom: 430px;
}


